img {
  width: 100%;
}

.row:not(:first-child) {
  margin-top: 50px;
}

.row:not(:last-child) {
  font-family: 'Lobster' , cursive;
}

#output {
  height: 80px;
  width: 100%;
  font-size: 50px;
  padding: 0 15px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.red, .orange, .green, .purple {
  height: 50px;
}

.color-picker-row {
  border: 2px solid black;
}
