img {
  width: 100%;
}

.row:not(:first-child) {
  margin-top: 50px;
}

.row:not(:last-child) {
  font-family: 'Lobster' , cursive;
}

#output {
  height: 80px;
  width: 100%;
  font-size: 50px;
  padding: 0 15px;
}
